body{
    margin: 0px;
    padding: 0px;
}
.logpage {
    position: relative;
    background-image: url('illu.gif');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    width: 100%;
    height: 600px;
  }
  
  .logpage::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(232, 125, 125, 0.4); /* Adjust the opacity here */
    backdrop-filter: blur(1px);
}
  .login {
    border: 1px solid rgb(111, 62, 62);
    border-radius: 10%;
    /* background-color: rgba(219, 212, 136, 0.3); */
    backdrop-filter: blur(4px);    box-shadow: 2px 2px 6px 4px rgba(0, 0, 0, 0.4);
    padding: 40px 40px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.login .logcred input{
    width: 85%;
    padding: 8px 19px;
    font-size: 1.25em;
    color: #8f2c24;
    border-radius: 5px;
    border: none;
    margin-bottom: 30px;
}
.login .logcred input::placeholder{
    color: #8f2c24;
    font-size: 15px;
}

.login h1{
    font-family: 'Segoe UI', serif;
}
/*
 */
#btn{
    position: relative;
    border: none;
    outline: #d64c43;
    color: white;
    background-color: #8f2c24;
    font-size: 1.2em;
    font-weight: 600;
    transition: 0.5s;
    cursor: pointer;
}
#btn:hover{
    background-color: #d64c43;
} 
.footer
{
    display: flex;
    justify-content: space-between;
}
.footer a{
    color: #431310;
    text-decoration: none;
    font-size: 1rem;    
    font-weight: 500;
    font-family: 'Segoe UI';

}
.footer a:hover{
text-decoration: underline;
}
/* media queries */
@media (max-width: 768px) {
   
    .login {
        height: 300px;
      padding: 30px 50px;
    }
  
    .login h1 {
      font-size: 1.5rem;
    }
  
    .login .logcred input {
      width: 80%;
      font-size: 15px;
    }
  }
  
  @media (max-width: 480px) {
    .login {
      padding: 50px;
    }
  
    .login h1 {
      font-size: 1rem;
    }
}